Analyse/dia~
Analyse/*.dia~
Analyse/~$meplay.docx
Développement/suchGame/Changelog.txt
Développement/suchGame/*.user
Développement/suchGame/*.user.*
*.autosave
Développement/build-suchGame*
.cpp.bak
*.orig
